:root {
  --title: #1d1856;
  --paragraph: #252525;
  --box: #efeaed;
}

.services {
  width: 100%;
  align-items: center;
  margin-left: 130px;
}

.title-icon {
  height: 2rem;
  width: 3rem;
  position: relative;
  right: 1rem;
  top: 0.5rem;
}

.title-services {
  font-family: sans-serif;
}

h2 {
  width: 30rem;
  margin-bottom: 3rem;
  color: var(--title);
  font-family: sans-serif;
  font-size: 2.3rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

h4 {
  width: 21rem;
  height: 3rem;
  margin-right: 3rem;
  color: var(--paragraph);
  font-family: sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.91px;
  position: relative;
  top: -2.8rem;
  left: 7.4rem;
}

p {
  width: 19.2rem;
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  text-justify: auto;
  position: relative;
  left: 7.4rem;
  top: -4rem;
}

.description-services {
  display: flex;
  flex-wrap: wrap;
}

.design {
  margin-top: 0rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  width: 29rem;
  height: 11rem;
  border-radius: 7px;
  background: var(--box);
}

.opti {
  margin-top: 0rem;
  margin-bottom: 1rem;
  margin-left: 0rem;
  margin-right: 1rem;
  width: 29rem;
  height: 11rem;
  border-radius: 7px;
  background: var(--box);
}

.solutions {
  margin-top: 0rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  width: 29rem;
  height: 11rem;
  border-radius: 7px;
  background: var(--box);
}

.users {
  margin-top: 0rem;
  margin-bottom: 1rem;
  margin-left: 0rem;
  margin-right: 1rem;
  width: 29rem;
  height: 11rem;
  border-radius: 7px;
  background: var(--box);
}

.icons-services {
  width: 1.7rem;
  height: 1.7rem;
  position: relative;
  top: 1.1rem;
  left: -0.8rem;
}

.vector {
  width: 4rem;
  height: 3.5rem;
  position: relative;
  top: 2rem;
  left: 2rem;
}
