/* Estilos para el header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #1D1856, #5A4995);
    color: #fff;
    padding: 1rem;
    height: 50px;
    width: 100%;
  }
  
  /* Estilos para el logo */
 .logo{
  padding-left: 80px;
 }
  .logo-Th{
    width: 60px;
  }
  .nav{
    padding-right: 80px;
  }
  /* Estilos para el menú de navegación */
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 1rem;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
  }
  
  .nav-links a:hover {
    border-bottom: 2px solid #fff;
  }

 .contact-button{
  background: #fff;
  color: #1D1856;
  border-radius: 0.625rem;
  border: 1px solid #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: inline-flex;
  align-items: center;
  height: 25px;
 }
  